
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <i class="fas fa-campground    "></i>
      YelpCamp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds">Campgrounds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds/new">New Campground</a>
        </li>

        

      </ul>
      <div class="d-flex">
        <% if(!currentUser){ %> 
          <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt "></i> Login</a>
          <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Register</a>
          <% }else{ %> 
            <!-- display user name -->
            <a class="nav-link" href="#"><i class="fas fa-user-circle"></i> <%= currentUser.username %></a>
          <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt    "></i> Logout</a>
            <% } %>
      </div>
    </div>
  </div>
</nav>